body{

background-image:url('Pic/Rad.jpg');
}
.div1 a{ width :100%;
 
font-size:50px; 
float :middle;
 }
 .div1 a:hover{
	 color:blue;
	 font-weight:bold;
 }
 
 .div2{ width :30%; 
 float :left; 
 }
 .div3{ width :100%;
 float :middle;
font-size:20px; 
font-style:bold;
width:1000px;
 }
 .div4{ width :30%; 
 float :right;
 }
 .content-box { 
  box-sizing: content-box; 
  width: 1000px;
  height: 200px;
  height: 200px;
  border-radius: 5px;
background-color:lightblue;
  border: 2px solid black;
  
}