body
{
    margin: 0% ;
    padding: 0% ;
    background: url(Pic/baglioni-hotel-london.jpg) ;
    background-size: cover ;
    background-position: center ;
    font-family: sans-serif ;
}
.Checkout
{
    width: 750px;
    height: 420px;
   /* background: rgb(250, 250, 250) ;*/
    color: #fff ;
    top: 50% ;
    left: 50% ;
    position: absolute ;
    transform: translate(-50%,-50%) ;
    box-sizing: border-box ;
    padding: 70px 30px ;
    text-align: center ;
    font-style: inherit ;
    font-size: 160% ;
    text-shadow: 2px 2px #000 ;
}
.visa
{
    width: 100px ;
    height: 50px ;
    position: absolute ;
    top: -8%;
    margin-left: 20% ; 
}
.mastercard
{
    width: 100px ;
    height: 50px ;
    
    position: absolute ;
    top: -8%;
    margin-left: -20% ;
}
.paypal
{
    width: 100px ;
    height: 50px ;
    
    position: absolute ;
    top: -8%;
   
}
h1
{
    margin: 0 ;
    color: rgb(212, 182, 11) ;
    padding: 0 0 20px ;
    text-align: center ;
    font-size: 40 ;
    font-style: italic ;
    text-shadow: #000 ;
    margin-top: -5% ;
    font-family: "Times New Roman", Times, serif;
    color : crimson ;
}
.Checkout p
{
    margin: 0 ;
   /* margin-left: 50%; */
    padding: 0 ;
    font-weight: bold ;
    color: rgb(255, 255, 255) ;
}
.Checkout input 
{
    width: 200 ;
    margin-bottom: 20px ;
}
.Checkout input[type="text"] 
{
    border: none ;
    border-bottom: 1px solid #fff ;
    background: transparent ;
    background-color: #fff ;
    outline: none ;
    height: 30px;
    color: #000 ;
    font-size: 16px ;
}
.Checkout input[type="button"]
{
    width: 250px ;
    border: none ;
    outline: none ;
    height: 40px;
    background: rgb(212, 182, 11) ; ;
    color: #fff ;
    font-size: 18px ;
    border-radius: 20px ;
   /* margin-left: 25% ;*/
   
}
.Checkout input[type="button"]:hover
{
    cursor: pointer ;
    background: #f36404 ;
    color: #000 ;
    /*text-shadow: 2px 2px #000 ;*/
}
.Checkout a
{
    text-decoration: none ;
    font-size: 12px ;
    line-height: 20px ;
    color: #000 ;
}
.Checkout a:hover
{
    color:rgb(223, 245, 26) ;
}
.icon-bar {
    width: 100%; 
    background-color: rgb(212, 182, 11); 
    overflow: auto; 
    top: 50% ;
  }
  
  .icon-bar a {
    float: left;
    text-align: center; 
    width: 20%; 
    padding: 12px 0; 
    transition: all 0.3s ease; 
    color: #f7f3f3; 
    font-size: 36px; 
    height: 8% ;
    text-shadow: 2px 2px #000 ;
  }
  
  .icon-bar a:hover {
    background-color: #000; 
  }
  
  .active {
    background-color: #f36404; 
  }
 